<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
        html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    </style>
</head><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="js/searchBar.js" type="text/javascript"></script>
<script src="js/adminPage.js" type="text/javascript"></script>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top" style="max-height:80px;" id="navbar"></div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:90px">
    <div class="w3-container w3-margin w3-card w3-text-theme">
        <p class="w3-margin w3-center" style="font-size: 30px;font-style: italic;">ADMIN PAGE</p>
    </div>

    <!-- Left Column -->
    <div class="w3-col m3">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
            <div class="w3-container">
                <h4 class="w3-center">Analytics</h4>
                <p>Per ogni categoria, ritornare il gioco con il rating più alto e il rating più basso</p>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-users"></i> Analytic 1</button>
                <p>Dato in input anno X, mostrare il numero di post e il numero medio di commenti ricevuti per ogni mese</p>
                <p contenteditable="true" class="w3-border w3-padding" style="display:inline-block; width:100px">2022</p>
                <button type="button" class="w3-button w3-theme-d2"><i class="fa fa-users"></i> Analytic 2</button>
                <p>Dato in input anno X, per ogni continente, trovare il paese con il maggior numero di iscritti nell’anno X</p>
                <p contenteditable="true" class="w3-border w3-padding" style="display:inline-block; width:100px">2022</p>
                <button type="button" class="w3-button w3-theme-d2"><i class="fa fa-users"></i> Analytic 3</button>
                <p>Retrieve the most popular user</p>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-users"></i> Analytic 4</button>
                <p>Centrality measure</p>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-users"></i> Analytic 5</button>
            </div>
        </div>
        <br>
        <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m9">
        <div class="w3-container w3-card w3-white w3-round w3-margin-left w3-margin-right">
            <h4 class="w3-center">Results</h4>
                <div id="chartdiv"></div>
        </div>
        <!-- End Middle Column -->
        <div class="w3-margin w3-center">
            <button id="showForm" type="button" class="w3-button w3-theme-d2 w3-margin w3-center"> Insert New Game</button>
            <div id="addGameDiv">
                <input type="text" placeholder="name" id="name" class="w3-border w3-padding" style="display:inline-block; width:180px">
                <input type="text" placeholder="designer" id="designer" class="w3-border w3-padding" style="display:inline-block; width:180px">
                <input type="text" placeholder="yearPublished" id="yearPublished" class="w3-border w3-padding" style="display:inline-block; width:180px">
                <input type="text" placeholder="minPlayers" id="minPlayers" class="w3-border w3-padding" style="display:inline-block; width:180px">
                <input type="text" placeholder="maxPlayers" id="maxPlayers" class="w3-border w3-padding" style="display:inline-block; width:180px">
                <input type="text" placeholder="playingTime" id="playingTime" class="w3-border w3-padding" style="display:inline-block; width:180px">
                <input type="text" placeholder="minPlayTime" id="minPlayTime" class="w3-border w3-padding" style="display:inline-block; width:180px">
                <input type="text" placeholder="maxPlayTime" id="maxPlayTime" class="w3-border w3-padding" style="display:inline-block; width:180px">
                <input type="text" placeholder="categories" id="categories" class="w3-border w3-padding" style="display:inline-block; width:180px">
                <input type="text" placeholder="imgUrl" id="imgUrl" class="w3-border w3-padding" style="display:inline-block; width:180px">
                <input type="text" placeholder="description" id="description" class="w3-border w3-padding" style="display:inline-block; width:100%">
                <button id="addButton" type="button" class="w3-button w3-theme-d2 w3-margin-bottom"> Add Game</button>
            </div>
        </div>
    </div>
    
    <!-- End Page Container -->
</div>

<footer class="w3-container w3-theme-d5">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>


<!-- Styles -->
<style>
    #chartdiv {
      width: 100%;
      height: 500px;
    }
    </style>
    
    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    
    <!-- Chart code -->
    <script>
    am5.ready(function() {
    
    // Create root element
    // https://www.amcharts.com/docs/v5/getting-started/#Root_element
    var root = am5.Root.new("chartdiv");
    
    
    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
      am5themes_Animated.new(root)
    ]);
    
    
    // Create chart
    // https://www.amcharts.com/docs/v5/charts/xy-chart/
    var chart = root.container.children.push(am5xy.XYChart.new(root, {
      panX: true,
      panY: true,
      wheelX: "panX",
      wheelY: "zoomX",
      pinchZoomX:true
    }));
    
    // Add cursor
    // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
    var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
    cursor.lineY.set("visible", false);
    
    
    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var xRenderer = am5xy.AxisRendererX.new(root, { minGridDistance: 30 });
    xRenderer.labels.template.setAll({
      rotation: -90,
      centerY: am5.p50,
      centerX: am5.p100,
      paddingRight: 15
    });
    
    var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
      maxDeviation: 0.3,
      categoryField: "country",
      renderer: xRenderer,
      tooltip: am5.Tooltip.new(root, {})
    }));
    
    var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
      maxDeviation: 0.3,
      renderer: am5xy.AxisRendererY.new(root, {})
    }));
    
    
    // Create series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(am5xy.ColumnSeries.new(root, {
      name: "Series 1",
      xAxis: xAxis,
      yAxis: yAxis,
      valueYField: "value",
      sequencedInterpolation: true,
      categoryXField: "country",
      tooltip: am5.Tooltip.new(root, {
        labelText:"{valueY}"
      })
    }));
    
    series.columns.template.setAll({ cornerRadiusTL: 5, cornerRadiusTR: 5 });
    series.columns.template.adapters.add("fill", function(fill, target) {
      return chart.get("colors").getIndex(series.columns.indexOf(target));
    });
    
    series.columns.template.adapters.add("stroke", function(stroke, target) {
      return chart.get("colors").getIndex(series.columns.indexOf(target));
    });
    
    
    // Set data
    var data = [{
      country: "USA",
      value: 2025
    }, {
      country: "China",
      value: 1882
    }, {
      country: "Japan",
      value: 1809
    }, {
      country: "Germany",
      value: 1322
    }, {
      country: "UK",
      value: 1122
    }, {
      country: "France",
      value: 1114
    }, {
      country: "India",
      value: 984
    }, {
      country: "Spain",
      value: 711
    }, {
      country: "Netherlands",
      value: 665
    }, {
      country: "South Korea",
      value: 443
    }, {
      country: "Canada",
      value: 441
    }];
    
    xAxis.data.setAll(data);
    series.data.setAll(data);
    
    
    // Make stuff animate on load
    // https://www.amcharts.com/docs/v5/concepts/animations/
    series.appear(1000);
    chart.appear(1000, 100);
    
    }); // end am5.ready()
    </script>
    