<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
        html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    </style>
</head><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top" style="max-height:80px;">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a href="#" class=" w3-button w3-padding-large w3-theme-d4">
            <i class="fa fa-home w3-margin-right"></i>
            Logo 
        </a>
        <p contenteditable="true" class="w3-border w3-padding" style="display:inline-block; width:1000px">Username/gamename</p>
        <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i> Search</button>
    </div>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:100px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Middle Column -->
        <div class="w3-col m9">
            <div class="w3-container w3-card w3-white w3-round w3-margin-left w3-margin-right"><br>
                <img src="Screenshot_20221027_105728.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                <span class="w3-right w3-opacity"><i class="fa fa-calendar"></i> 12/12/2022</span>
                <h4>userName</h4><br>
                <hr class="w3-clear">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
            </div>
            <div class="w3-col m10">
                <div class="w3-container w3-card w3-margin-left w3-margin-right"><br>
                    <img src="Screenshot_20221027_105728.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                    <span class="w3-right w3-opacity"><i class="fa fa-calendar"></i> 12/12/2022</span>
                    <span class="w3-right w3-opacity w3-margin-right"><i class="fa fa-thumbs-up"></i> 24</span>
                    <h4>userName</h4>
                    <hr class="w3-clear">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>

                </div>

                <div class="w3-container w3-card w3-margin-left w3-margin-right"><br>
                    <img src="Screenshot_20221027_105728.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                    <span class="w3-right w3-opacity"><i class="fa fa-calendar"></i> 12/12/2022</span>
                    <span class="w3-right w3-opacity w3-margin-right"><i class="fa fa-thumbs-up"></i> 24</span>
                    <h4>userName</h4>
                    <hr class="w3-clear">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>

                </div>
                <div class= "w3-margin w3">
                    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button></button>
                </div>
        </div>
            <!-- End Middle Column -->
        </div>

        <div class="w3-col m3">
            <div class="w3-container w3-card">
                <div class="w3-container w3-margin w3-center w3-card w3-text-theme">
                    <p class="w3-margin w3-center" style="font-size: 30px;font-style: italic;">POST'S COMMENTS</p>
                </div>
                <div class="w3-container w3-card w3-round w3-white w3-center w3-margin">
                    <p>Game</p>
                    <img src="Screenshot_20221027_105728.png" alt="tournament1" style="width:100%;">
                </div>
            </div>
            <br>
            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<footer class="w3-container w3-theme-d5">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>