<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
        html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    </style>
</head><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="w3-theme-l5">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="js/gamePage.js" type="text/javascript"></script>
<!--
    <script type="text/javascript">
        $(document).ready(function(){
            $.ajax({
              url : "/api/game",
              method : "get",
              success : function(data){
                  data=JSON.parse(data)
                  console.log(data.gameName)
                  $('#imgProf').append('<img src="Screenshot_20221027_105728.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"/>')
                  $('#gameName').text(data.gameName)
                  $('#fol').text('Followers: '+data.followers)
                  $('#rat').text('Rating: '+data.rating)
                  $('#des').text('Designer: '+data.designer)
                  $('#cat').text('Category: '+data.categories)
                  $('#minpmaxp').text('Min players / Max players:'+data.minpmaxp)
                  $('#desc').text('Description: '+data.description)
              }
            })
        })
      </script>
-->
<!-- Navbar -->
<div class="w3-top" style="max-height:80px;">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a href="#" class=" w3-button w3-padding-large w3-theme-d4">
            <i class="fa fa-home w3-margin-right"></i>
            Logo
        </a>
        <p contenteditable="true" class="w3-border w3-padding" style="display:inline-block; width:1000px">Username/gamename</p>
        <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i> Search</button>
    </div>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:100px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center" id="gameName">Game</h4>
                    <p id="imgProf" class="w3-center"></p>
                    <hr>
                    <button id="followButton" type="button" class="w3-button w3-theme-d2 w3-margin-left"><i class="fa fa-users"></i> Follow</button>
                    <p id="ratingValue" contenteditable="true" class="w3-border w3-padding w3-margin-left" style="display:inline-block; width:60px">7</p>
                    <button id="rateButton" type="button" class="w3-button w3-theme-d2 w3-margin-left"><i class="fa fa-users"></i> Rate</button>
                    <p id="fol"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                    <p id="ypub"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                    <p id="rat"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                    <p id="des"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                    <p id="cat"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                    <p id="minpmaxp"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                    <p id="desc"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                </div>
            </div>
            <br>
            <!-- End Left Column -->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m7" id="containerPosts">
            <div class="w3-container w3-card w3-white w3-round w3-margin-left w3-margin-right"><br>
                <img src="Screenshot_20221027_105728.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                <span class="w3-right w3-opacity"><i class="fa fa-calendar"></i> 12/12/2022</span>
                <span class="w3-right w3-opacity w3-margin-right"><i class="fa fa-comment"></i> 12</span>
                <span class="w3-right w3-opacity w3-margin-right"><i class="fa fa-thumbs-up"></i> 24</span>
                <h4>Username</h4><br>
                <hr class="w3-clear">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  View comments</button>
            </div>

            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <img src="Screenshot_20221027_105728.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                <span class="w3-right w3-opacity"><i class="fa fa-calendar"></i> 12/12/2022</span>
                <span class="w3-right w3-opacity w3-margin-right"><i class="fa fa-comment"></i> 12</span>
                <span class="w3-right w3-opacity w3-margin-right"><i class="fa fa-thumbs-up"></i> 24</span>
                <h4>Username</h4><br>
                <hr class="w3-clear">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  View comments</button>
            </div>

            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <img src="Screenshot_20221027_105728.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                <span class="w3-right w3-opacity"><i class="fa fa-calendar"></i> 12/12/2022</span>
                <span class="w3-right w3-opacity w3-margin-right"><i class="fa fa-comment"></i> 12</span>
                <span class="w3-right w3-opacity w3-margin-right"><i class="fa fa-thumbs-up"></i> 24</span>
                <h4>Username</h4><br>
                <hr class="w3-clear">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  View comments</button>
            </div>
            <div class= "w3-margin w3">
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" onclick="getAllPosts()"><i class="fa fa-comment"></i>  View all posts</button>
            </div>
            <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        
        <div class="w3-col m2">
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <p>In common followers:</p>
                    <p id="inCommonFollowers">user 1 user 2 user 3</p>
                </div>
            </div>
            <br>
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <button type="button" class="w3-button w3-theme-d2 w3-margin"><i class="fa fa-flash"></i>  Tournaments</button>
                    <!-- <button type="button" class="w3-button w3-theme-d2 w3-margin"><i class="fa fa-handshake-o"></i>  Offers</button> -->
                </div>
            </div>
            <br>
            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<footer class="w3-container w3-theme-d5">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>