<!DOCTYPE html>
<html>
<head>
  <title>BGNet</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
  </style>
</head><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js" integrity="sha512-S5PZ9GxJZO16tT9r3WJp/Safn31eu8uWrzglMahDT4dsmgqWonRY9grk3j+3tfuPr9WJNsfooOR7Gi7HL5W2jw==" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $.ajax({
        url : "/api/landing",
        method : "get",
        success : function(data){
          for(var i = data.length - 1; i >= 0; i--) {
            $('.w3-container.good' + i).append(
                    '<img src="' + data[i] + '" class="w3-round w3-button w3-image">'
            );
          }
        }
      })
  })
</script>

<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top" style="max-height:80px;">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
    <a href="#" class=" w3-button w3-padding-large w3-theme-d4">
      <i class="fa fa-home w3-margin-right"></i>
    </a>
    <p contenteditable="true" class="w3-border w3-padding" style="display:inline-block; width:1000px">Username/gamename</p>
    <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i> Search</button>
  </div>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:100px">
  <div class="w3-container">
    <div class="w3-col m5 w3-margin">
      <div class="w3-container good3">
      </div>
      <div class="w3-container good2">
      </div>
      <br>
      <!-- End Left Column -->
    </div>

    <div class="w3-col m5 w3-margin">
      <!-- Profile -->
      <div class="w3-container good1">

      </div>
      <div class="w3-container good0">

      </div>
      <br>
      <!-- End Left Column -->
    </div>
  </div>
</div>

<footer class="w3-container w3-theme-d5" style="position: fixed; left: 0; bottom: 0; width:100%;">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>