<!DOCTYPE html>
<html>
    <head>
        <title>W3.CSS Template</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="js/searchBar.js" type="text/javascript"></script>
        <script src="js/gamePage.js" type="text/javascript"></script>
    </head>
    <body class="w3-theme-l5">
        <div class="w3-top" style="max-height:80px;" id="navbar">
            <!-- Navbar -->
            <!-- End Navbar -->
        </div>
        <!-- Page Container -->
        <div class="w3-container w3-content" style="max-width:1400px;margin-top:100px">
            <!-- The Grid -->
            <div class="w3-row">
                <div class="w3-col m3">
                    <!-- Left Column -->
                    <div class="w3-card w3-round w3-white">
                        <!-- Game info -->
                        <div class="w3-container">
                            <h4 class="w3-center" id="gameName">Game</h4>
                            <p id="imgProf" class="w3-center"></p>
                            <hr>
                            <button id="followButton" type="button" class="w3-button w3-theme-d2 w3-margin-left"><i class="fa fa-users"></i> Follow</button>
                            <p id="ratingValue" contenteditable="true" class="w3-border w3-padding w3-margin-left" style="display:inline-block; width:60px">7</p>
                            <button id="rateButton" type="button" class="w3-button w3-theme-d2 w3-margin-left"><i class="fa fa-users"></i> Rate</button>
                            <p id="fol"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                            <p id="ypub"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                            <p id="rat"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                            <p id="des"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                            <p id="cat"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                            <p id="minpmaxp"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                            <p id="desc"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                        </div>
                    </div>
                    <!-- End Left Column -->
                </div>
                <div class="w3-col m7" id="post-container">
                    <!-- Middle Column -->
                    <!-- End Middle Column -->
                </div>
                <div id="right-column" class="w3-col m2">
                    <!-- Right Column -->
                    <div class="w3-card w3-round w3-white w3-center">
                        <div class="w3-container">
                            <p>In common followers:</p>
                            <p id="inCommonFollowers"></p>
                        </div>
                    </div>
                    <br>
                    <div class="w3-card w3-round w3-white w3-center">
                        <div class="w3-container">
                            <button type="button" class="w3-button w3-theme-d2 w3-margin"><i class="fa fa-flash"></i>  Tournaments</button>
                            <!-- <button type="button" class="w3-button w3-theme-d2 w3-margin"><i class="fa fa-handshake-o"></i>Offers</button> -->
                        </div>
                    </div>
                    <br>
                    <!-- End Right Column -->
                </div>
                <!-- End Grid -->
            </div>
            <!-- End Page Container -->
        </div>
        <br>
        <footer class="w3-container w3-theme-d5">
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>
    </body>
</html>