<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>BGNet</title>
        <meta name="author" content="Federico Casu, Angelo De Marco, Marco Pardini">
        <link rel="stylesheet" type="text/css" th:href="@{./css/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{./css/style.css}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="js/login.js" type="text/javascript"></script>
        <link rel="icon" th:href="@{./img/unipi.png}" sizes="32x32">
    </head>
    <body>
        <header>
            <div id="logo"></div>
        </header>
        <div>
            <div id="login">
                <h2>LOGIN</h2>
                <input type="text" id="username" placeholder="Username" name="username" maxlength="50" required>
                <br>
                <input type="password" id="password" placeholder="Password" name="password" required>
                <button name="login" id="btn_login">Login</button>
                <p><a th:href="@{/signup}">Signup</a></p>
            </div>
        </div>
    </body>
</html>