<!DOCTYPE html>
<html>
    <head>
        <title>W3.CSS Template</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js" integrity="sha512-S5PZ9GxJZO16tT9r3WJp/Safn31eu8uWrzglMahDT4dsmgqWonRY9grk3j+3tfuPr9WJNsfooOR7Gi7HL5W2jw==" crossorigin="anonymous"></script>
        <script src="js/postPage.js" type="text/javascript"></script>
    </head>
    <body class="w3-theme-l5">
        <!-- Navbar -->
        <div class="w3-top" style="max-height:80px;">
            <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                <a href="#" class=" w3-button w3-padding-large w3-theme-d4">
                    <i class="fa fa-home w3-margin-right"></i>
                    Logo
                </a>
                <p contenteditable="true" class="w3-border w3-padding" style="display:inline-block; width:1000px">Username/gamename</p>
                <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i> Search</button>
            </div>
        </div>
        <!-- Page Container -->
        <div class="w3-container w3-content" style="max-width:1400px;margin-top:100px">
            <!-- The Grid -->
            <div class="w3-col m3">
                <!-- Left Column -->
                <div class="w3-container w3-card w3-margin w3-center">
                    <button id="prevPage" type="button" class="w3-button w3-theme-d1 w3-margin-top w3-margin-bottom"><i class="fa fa-toggle-left"></i>Prev Page</button>
                    <button id="succPage" type="button" class="w3-button w3-theme-d2 w3-margin-top w3-margin-bottom"><i class="fa fa-toggle-right"></i>Succ Page</button>
                </div>
                <div class="w3-container w3-card">
                    <div class="w3-container w3-margin w3-center w3-card w3-text-theme">
                        <p class="w3-margin w3-center" style="font-size: 30px;font-style: italic;">POSTS</p>
                    </div>
                    <div class="w3-container w3-card w3-round w3-white w3-center w3-margin">
                        <p id="game">Game</p>
                    </div>
                </div>
                <!-- End Left Column -->
            </div>
            <div class="w3-col m7" id="containerPosts">
                <!-- Middle Column -->
                <!-- End Middle Column -->
            </div>
                <!-- Right Column -->
                <!-- End Right Column -->
            </div>
                <!-- End Grid -->
            </div>
            <!-- End Page Container -->
        </div>
        <br>
        <footer class="w3-container w3-theme-d5">
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>
    </body>
</html>