<!DOCTYPE html>
<html lang="eng">
  <head>
      <title>BGNet</title>
      <meta name="author" content="Federico Casu, Angelo De Marco, Marco Pardini">
      <link rel="stylesheet" type="text/css" th:href="@{./css/style.css}">
      <link rel="icon" href="./img/unipi.png" sizes="32x32">
  </head>
  <body>
    <header>
      <div id="logo"></div>
    </header>
    <div id="container">
      <div id="message_output_div">
        <p>Something goes wrong</p>
        <p><a href="signup">Retry</a></p>
      </div>
    </div>
  </body>
</html>