<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
        html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    </style>
</head><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="w3-theme-l5">

    <script type="text/javascript">
        function bottoneCane(){
            console.log("bottoneCane called")
            $.ajax({
                url : "/api/setButton1",
              method : "get",
            })
        }

        function bottoneGatto(){
            console.log("bottoneGatto called")
            $.ajax({
              url : "/api/setButton2",
              method : "get",
            })
        }

        function bottoneGet(){
            $.ajax({
              url : "/api/getButton",
              method : "get",
              success : function(data){
                Console.log(data);
              }
            })
        }
      </script>

<!-- Navbar -->

<div>
    <button id="butCane" onclick='bottoneCane()' class="w3-button, w3-card">cane</button>
    <button id="butGatto" onclick='bottoneGatto()' class="w3-button, w3-card">gatto</button>
    <button id="butGet" onclick='bottoneGet()' class="w3-button, w3-card">get</button>
</div>

</body>
</html>