<!DOCTYPE html>
<html>
    <head>
        <title>BGNet</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
        </style>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="js/searchBar.js" rel="text/javascript"></script>
        <script src="js/userProfile.js" rel="text/javascript"></script>
    </head>
    <body class="w3-theme-l5">
        <!-- Navbar -->
        <div class="w3-top" style="max-height:80px;" id="navbar"></div>
        <!-- Page Container -->
        <div class="w3-container w3-content" style="max-width:1400px;margin-top:100px">
            <!-- The Grid -->
            <div class="w3-row">
                <!-- Left Column -->
                <div class="w3-col m3">
                    <!-- Profile -->
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container">
                            <h4 class="w3-center" id="username">Username</h4>
                            <p class="w3-center" id="img"></p>
                            <hr>
                            <div id="UserButtons">
                                <button type="button" id="followButton" class="logged w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-users"></i>Follow</button>
                                <button type="button" id="unfollowButton" class="logged w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-users"></i>Unfollow</button>
                                <button type="button" id="deleteUser" class="admin w3-button w3-theme-d2 w3-margin-bottom" style="background-color: red"><i class="fa fa-users"></i>Ban</button>
                            </div>
                            <p id="firstname"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                            <p id="lastname"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                            <p id="followers"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                            <p id="regYear"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                            <p id="email"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                            <p id="stateOfProvince"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                            <p id="country"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                            <p id="continent"><i class="fa-fw w3-margin-right w3-text-theme"></i></p>
                        </div>
                    </div>
                    <br>
                    <!-- End Left Column -->
                </div>
                <div class="w3-col m7" id="post-container">
                    <!-- Middle Column -->
                    <!-- End Middle Column -->
                </div>
                <!-- Right Column -->
                <div class="logged w3-col m2">
                    <div id="inCommonStuffContainer" class="w3-card w3-round w3-white w3-center">
                        <div class="w3-container">
                            <h4 id="inCommonFollowers"></h4>
                            <div class="w3-center" id="inCommonFollowersContainer"></div>
                        </div>
                    </div>
                    <br>
                    <div class="w3-card w3-round w3-white w3-center">
                        <div class="w3-container">
                            <h4 id="tournamentsH">In common tournaments:</h4>
                            <hr class="w3-clear">
                            <div id="inCommonTournamentsContainer"></div>
                        </div>
                    </div>
                    <!-- End Right Column -->
                </div>
                <!-- End Grid -->
            </div>
            <!-- End Page Container -->
        </div>
        <br>
        <footer class="w3-container w3-theme-d5">
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>
    </body>
</html>